/*font style */

.merriweather-black {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .merriweather-regular {
    font-family: "Merriweather", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .merriweather-bold {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}
  
  
/*main style*/
main{
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%), url('../images/Banner\ Image.png');
    border-radius: 16px;
    background-size: cover;
    position: absolute;
    width: 1320px;
    height: 600px;
    left: 110px;
    right:-140px;
    top: 50px;
    bottom: -50px;
}

/* New year style */
section{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-container{
    color : white;
    width: 650px;
    height: 246px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.sub-header{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 30px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0px 0px 0px 0px;
}

.main-header{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 66px;
    font-weight: 900;
    line-height: 75px;
    letter-spacing: 0%;
    text-align: center;
    margin: 20px 0px 0px 0px;
}

/* Offer style */
.offer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin : 50px 0 0 0;
}

.offer-header{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
    line-height: 107px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0 0 50px 0;
}

.offer-description{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0;
}

.offer-category{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: center;
    margin: 0 0 50px 0;
}


/* Party Styles */
.party{
    width : 697px;
    padding-right: 20px;
}

.party-container{
    background-image: url(/images/Vectorrr.png);
    background-repeat: no-repeat;
    display: flex;
    gap : 30px;
    margin-top: 200px;
}

.party-container img{
    width : 320px;
}

.party-header{
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 11%;
    text-align: left;
    margin : 0;
}

.party-description{
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

.party button{
    text-decoration: none;
    background: transparent;
    color:white;
    border : none;
    padding : 14px 16px;
    font-size: 20px;
    cursor: pointer;
}

/*Location styles*/

.location{
    margin-top:70px;
    display : flex;
    flex-direction: column;
    border-radius: 16px;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
}

.location h3{
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: capitalize;
    margin: 0;
}

.location button{
    margin-top : 30px;
    padding: 16px 32px 16px 32px;
    color: rgb(255, 255, 255);
    border-radius: 8px;
    background: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    border : none;
}

/* Coming Soon Section */

.header{
    width : 350px;
    margin : 104px 50px 104px 0px;
}

.coming-soon-subheader{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 550;
    text-align: left;
    margin : 0 0 25px 0;
}

.coming-soon-header{
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
    margin : 0;
}

.coming-soon-description{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}


.group-photo{
    width : 450px;
}

.group-photo img{
    border : 15px solid rgb(255,0,0);
    box-sizing: border-box;
    border-radius: 50%;
    padding : 20px;
}

.header2{
    width : 300px;
    margin : 0 0 0 30px;
}

.sub-header2{
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    margin : 0;
}

.sub-para{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
}


/* sales styles */
.sales{
    height: 40vh;
    display : flex;
    align-items: center;
    justify-content: center;
}

.sales-container{
    width:650px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.sales-subheader{
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    margin : 20px 0 20px 0;
}

.sales-header{
    font-family: Merriweather;
    font-size: 60px;
    font-weight: 900;
    text-align: center;
    margin : 0;
}

.sales-description{
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin : 30px 0 0 0;
}

.picture{
    background-image: url('../images/Group\ 75.png'), url('../images/Rectangle\ 2.png'), url('../images/Group\ 44.png');
    background-repeat: no-repeat,no-repeat,no-repeat;
    background-position: left, bottom, top right;
}